.dem {
  display: none !important;
}

@media only screen and (max-width: 1024px) {
  .dem {
    display: block !important;
  }
}

.bottom-nav {
  display: flex;
  justify-content: center;
  z-index: 20;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 8px 0px rgba(67, 89, 113, 0.4);
  background-color: #ffffff;
  overflow-x: auto;
  color: indigo;
  transition: transform 1s ease;
}

.show-nav{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  transition: transform 1s ease;
}

.bnav-inner {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: auto;
}

.bnav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  color: var(--bs-body-color);
  text-decoration: none;
  flex: 1 1 auto;
  font-size: small;
}

.hide-bnav {
  transform: translateY(100%);
}

.bnav-item.active {
  color: var(--bs-primary);
  border-bottom: 3px solid var(--bs-primary);
  /* border-radius: 0.375rem; */
}

.bnav-icon {
  font-size: 25px;
}
.chatB {
  /* background: url("./pages/chat-bg.png") rgba(236, 11, 142, 0.3);
  background-blend-mode: multiply; */
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative !important;
  padding: 2px !important;
  background-color: #ffffff;
  border-radius: 0.375rem;
  /* border: 1px solid white; */
  box-shadow: 0 0.25rem 1rem rgba(161, 172, 184, 0.45);
  background: linear-gradient(
      rgba(105, 108, 255, 0.721),
      rgba(39, 37, 37, 0.318)
    ),
    url(./pages/chat-bg.jpg);
  background-size: contain;
}
.chatInside {
  width: 100%;
  height: 90%;
  background: transparent;
  padding: 20px 0 !important;
  overflow-y: scroll;
}
.txtArea {
  resize: none;
  overflow-x: hidden;
}
.add {
  margin: 10px;
}
.byr {
  position: absolute !important;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background-color: #ffffff;
}

/* //AI Chats  */
.chatLeft {
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
}
.img-avatar {
  height: 37px;
  border-radius: 20px;
  width: 37px;
}
.aContent {
  color: white;
  padding: 5px;
}
.aBody {
  margin: 0 10px;
  max-width: 60%;
  background-color: var(--bs-primary);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 10px;
}
.chat-date {
  color: white;
  font-size: 10px;
  font-weight: bold;
  float: right;
  padding: 0 10px;
}
/* //AI Chats  */

/* //User Chats  */
.chatRight {
  display: flex;
  padding: 10px 10px;
  justify-content: flex-end;
}
.uContent {
  color: var(--bs-primary);
  padding: 5px;
}
.uBody {
  margin: 0 10px;
  max-width: 70%;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 10px;
}
.uchat-date {
  color: var(--bs-primary);
  font-weight: bold;
  float: right;
  padding: 0 10px;
  font-size: 10px;
}
/* //User Chats  */

@media only screen and (max-width: 600px) {
  .aBody {
    max-width: 100%;
    width: 100%;
  }
  .uBody {
    max-width: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 1021px) {
  .chatB {
    height: 92%;
  }
}
